{
  "extends": "airbnb",

  "env": {
    "jest": "true"
  },

  "rules": {
    "semi": ["error", "never"],
    "no-param-reassign": ["off"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
  }
}
