{
  "extends": "airbnb",

  "plugins": [
    "prettier"
  ],

  "env": {
    "jest": "true"
  },

  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "exports": "never",
      "functions": "never",
      "imports": "never",
      "objects": "only-multiline"
    }],
    "global-require": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-cond-assign": ["error", "except-parens"],
    "no-confusing-arrow": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "es5"
    }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/prop-types": ["error", { "skipUndeclared": true }],
    "semi": ["error", "never"],
  }
}
