{
  "extends": ["airbnb", "plugin:prettier/recommended"],

  "env": {
    "jest": true
  },

  "rules": {
    "global-require": "off",
    "no-cond-assign": ["error", "except-parens"],
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": ["error", {
      "allow": ["__DO_NOT_USE_OR_YOU_WILL_BE_HAUNTED_BY_SPOOKY_GHOSTS"]
    }],
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "es5"
    }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/prop-types": ["error", { "skipUndeclared": true }],
  }
}
